*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.gradle
gradle/wrapperproperties/gradle-wrapper.
gradle/wrapper/gradle-wrapper.properties
!.gradle/wrapper/gradle-wrapper.properties.backup
/local.properties

.idea


*.iml
joyrun_android.iml
lib-afinal/lib-afinal.iml
lib-android-crop/lib-android-crop.iml
lib-expression/lib-expression.iml
lib-filterlibrary/lib-filterlibrary.iml
lib-photoview/lib-photoview.iml
lib-pulltorefresh/lib-pulltorefresh.iml
lib-qrcodescan/lib-qrcodescan.iml
lib-sharesdk/lib-sharesdk.iml
lib-universal-image-loader/lib-universal-image-loader.iml


app/SyamtabFileUploaderLog.txt
.DS_Store
build

projectFilesBackup
projectFilesBackup1

#manifest-merger-release-report.txt

app/mapping.txt
app/seeds.txt
app/unused.txt
app/class_files.txt
app/linked_key.keystore

.idea/scopes
gradle.properties
#gradle/

captures
freeline
freeline.zip.tmp
freeline.py
tinkerApk
